*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,ol,dl{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    position: relative;
    width: 100%;
}
.header{
    height: 8%;
    background: #0078bc;
    background: -moz-linear-gradient(left,#0078bc 1%,#00beda 100%);
    background: -webkit-linear-gradient(left,#0078bc 1%,#00beda 100%);
    background: linear-gradient(to right,#0078bc 1%,#00beda 100%);
}
/* logo */
.top-left-part{
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
/*  */
/* clock */
.clock{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.panel__data,.panel__clock{
    color: rgba(255,255,255, 1);
}
.panel__data{
    font-weight: 300;
}
.panel__clock{
    font-weight: 600;
    font-size: 20px;
}
/* ======= end clock*/
/* bottom nav */
.nav__bottom{
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100vw;
    height: 10%;
}
.nav__bar{
    height: 100%;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    border-radius: 10px;
    background: #0078bc;
    background: -moz-linear-gradient(left,#0078bc 1%,#00beda 100%);
    background: -webkit-linear-gradient(left,#0078bc 1%,#00beda 100%);
    background: linear-gradient(to right,#0078bc 1%,#00beda 100%);
}
/* .nav__bottom ul li i{
    color: #0078bc;
    background: #fdfeff;
    border-radius: 50%;
    font-weight: 600;
} */
.nav__list-btn button{
    color: #0078bc;
    background: #fdfeff;
    border-radius: 50%;
    font-weight: 600;
    padding: 12px;
}
.nav__user-btn button, .nav__logout-btn button{
    color: #0078bc;
    background: #fdfeff;
    border-radius: 50%;
    font-weight: 600;
    padding: 9px;
    outline: none;
}
.nav__list-icon{
    font-size: 30px; 
}
.nav__user-icon, .nav__logout-icon{
    font-size: 23px;
}
.nav__list-btn >.dropdown-menu li ,
/* .nav__user-btn >.dropdown-menu li , */
.nav__logout-btn >.dropdown-menu li {
    padding: 10px 0;
    font-size: 17px;
    display: flex;
    justify-content: center;
    max-width:100% ;  
}
.nav__list-btn >.dropdown-menu li a,
/* .nav__user-btn >.dropdown-menu li a, */
.nav__logout-btn >.dropdown-menu li a{   
    white-space: normal;
    width: 80%;
    color: rgba(0, 0, 0, 0.697);
    display: inline-block;
    padding: 17px 0px;
    border-radius: 17px;
    -webkit-box-shadow: 8px 7px 14px -2px rgba(195, 204, 211, 0.6);
    -moz-box-shadow: 8px 7px 14px -2px rgba(195, 204, 211, 0.6);
    box-shadow: 8px 7px 14px -2px rgba(195, 204, 211, 0.6);
}
.nav__list-btn >.dropdown-menu{
    width: 100vw;
    left: 0;
    margin-bottom: 20px !important;
    max-height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
}
.nav__user-btn >.dropdown-menu{
    width: 100vw;
    left: 0;
    margin-bottom: 25px !important;
    overflow: scroll;
    text-align: center;
    overflow-x: hidden;
}
.nav__logout-btn >.dropdown-menu{
    width: 100vw;
    left: 0;
    margin-bottom: 25px !important;
    overflow: scroll;
    text-align: center;
    overflow-x: hidden;
}
/* ===profile nav==*/
.profile-image{
    margin: 15px 0;
}
.profile-text{
    margin:12px 0 25px 0;
    font-size: 17px;
}
.profile-image img {
    position: relative;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background: rgba(201, 201, 201, 0.529);
}
.profile-menu li{
    margin: 20px 0;
}
.setting__profile{
    margin: 55px 0 !important;
}
.profile-menu a{
    color: #404446;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.697);
    display: inline-block;
    padding: 12px 30px;
    border-radius: 17px;
    -webkit-box-shadow: 8px 7px 14px -2px rgba(195, 204, 211, 0.6);
    -moz-box-shadow: 8px 7px 14px -2px rgba(195, 204, 211, 0.6);
    box-shadow: 8px 7px 14px -2px rgba(195, 204, 211, 0.6);
}
/* ====== end bottom nav */
